#a {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}
#background{
	z-index: -1;
	position: fixed;
	top:0%;
	left: 0%;
	height: 100%;
	width: 100%;
	color: white;
}
a {
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
}
a:visited {
	text-decoration: auto;
}
a:active {
	color: blue;
}
a:hover {
	text-decoration: none;
	color: red;
}
a:link {
	text-decoration: none;
}