.container {
    width: 30%;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    background-color: #03adfc;
}
form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    color: #fc5e03;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px grey;
}

button[type=submit] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
label[type="login"],label[type="password"]{
    font-size: 20px;

}

button[type=submit]:hover {
    background-color: #45a049;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

form {
    border: 2px solid #ccc;
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#id {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
